# Creating Relations in SQLite3

In [1]:
import sqlite3
from pprint import pprint

#Connect to the DB prepared in the previous guided project
conn = sqlite3.connect('nominations.db')

schema = conn.execute('pragma table_info(nominations)').fetchall()
print('Table Schema')
pprint(schema)
print('\n')
first_ten = conn.execute('SELECT * FROM nominations LIMIT 10;').fetchall()
print('First Ten Results')
for result in first_ten:
    print(result)

Table Schema
[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Year', 'REAL', 0, None, 0),
 (2, 'Category', 'TEXT', 0, None, 0),
 (3, 'Nominee', 'TEXT', 0, None, 0),
 (4, 'Won', 'REAL', 0, None, 0),
 (5, 'Movie', 'TEXT', 0, None, 0),
 (6, 'Character', 'TEXT', 0, None, 0)]


First Ten Results
(0, 2010.0, 'Actor -- Leading Role', 'Javier Bardem', 0.0, 'Biutiful ', 'Uxbal')
(1, 2010.0, 'Actor -- Leading Role', 'Jeff Bridges', 0.0, 'True Grit ', 'Rooster Cogburn')
(2, 2010.0, 'Actor -- Leading Role', 'Jesse Eisenberg', 0.0, 'The Social Network ', 'Mark Zuckerberg')
(3, 2010.0, 'Actor -- Leading Role', 'Colin Firth', 1.0, "The King's Speech ", 'King George VI')
(4, 2010.0, 'Actor -- Leading Role', 'James Franco', 0.0, '127 Hours ', 'Aron Ralston')
(5, 2010.0, 'Actor -- Supporting Role', 'Christian Bale', 1.0, 'The Fighter ', 'Dicky Eklund')
(6, 2010.0, 'Actor -- Supporting Role', 'John Hawkes', 0.0, "Winter's Bone ", 'Teardrop')
(7, 2010.0, 'Actor -- Supporting Role', 'Jeremy Renner', 0.0, 'The Town ', 'James Coughlin')
(8, 2010.0, 'Actor -- Supporting Role', 'Mark Ruffalo', 0.0, 'The Kids Are All Right ', 'Paul')
(9, 2010.0, 'Actor -- Supporting Role', 'Geoffrey Rush', 0.0, "The King's Speech ", 'Lionel Logue')

# Creating the cermonies table

In [2]:
# Step 2
ceremonies_table = 'CREATE TABLE ceremonies ( \
id INTEGER PRIMARY KEY, \
Year INTEGER, \
Host TEXT);'

#Commented out because table was created in an earlier run
table = conn.execute(ceremonies_table).fetchall()

years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
              ]
insert_query = 'INSERT INTO ceremonies (Year, Host) VALUES(?,?);'

conn.executemany(insert_query, years_hosts)

ceremonies_schema = conn.execute('pragma table_info(ceremonies)').fetchall()

ceremonies_first_ten = conn.execute('SELECT * FROM ceremonies LIMIT 10;').fetchall()

print('Ceremony Host Table Schema')
for scheme in ceremonies_schema:
    print(scheme)
print('\n')
print('First Ten Ceremony Host Results')
for one in ceremonies_first_ten:
    print(one)

Ceremony Host Table Schema
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'Year', 'INTEGER', 0, None, 0)
(2, 'Host', 'TEXT', 0, None, 0)


First Ten Ceremony Host Results
(1, 2010, 'Steve Martin')
(2, 2009, 'Hugh Jackman')
(3, 2008, 'Jon Stewart')
(4, 2007, 'Ellen DeGeneres')
(5, 2006, 'Jon Stewart')
(6, 2005, 'Chris Rock')
(7, 2004, 'Billy Crystal')
(8, 2003, 'Steve Martin')
(9, 2002, 'Whoopi Goldberg')
(10, 2001, 'Steve Martin')

# Constrain foreign keys

In [3]:
conn.execute('PRAGMA foreign_keys = ON;').fetchall()

[]

# Setting up one-to-many

In [4]:
new_table_query = ' CREATE TABLE nominations_two \
(id INTEGER PRIMARY KEY,\
category TEXT, \
nominee TEXT, \
movie TEXT,  \
character TEXT, \
won TEXT, \
ceremony_id INTEGER REFERENCES ceremonies(id));'
conn.execute(new_table_query)
print(conn.execute('pragma table_info(nominations_two);').fetchall())

select_query = 'SELECT nominations.category, nominations.nominee, \
nominations.movie, nominations.character, nominations.won, ceremonies.id \
FROM nominations \
JOIN ceremonies ON nominations.year == ceremonies.year;'
joined_nominations = conn.execute(select_query).fetchall()

insert_nominations_two = 'INSERT INTO nominations_two (Category, Nominee, \
Movie, Character, Won, Ceremony_Id) \
VALUES(?,?,?,?,?,?);'
conn.executemany(insert_nominations_two, joined_nominations).fetchall()

first_five = conn.execute('SELECT * FROM nominations_two LIMIT 5;').fetchall()
print('\n')
for entry in first_five:
    print(entry)

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'category', 'TEXT', 0, None, 0), (2, 'nominee', 'TEXT', 0, None, 0), (3, 'movie', 'TEXT', 0, None, 0), (4, 'character', 'TEXT', 0, None, 0), (5, 'won', 'TEXT', 0, None, 0), (6, 'ceremony_id', 'INTEGER', 0, None, 0)]
(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful ', 'Uxbal', '0.0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit ', 'Rooster Cogburn', '0.0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network ', 'Mark Zuckerberg', '0.0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech ", 'King George VI', '1.0', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours ', 'Aron Ralston', '0.0', 1)

# Deleting and Renaming Tables

In [5]:
conn.execute('DROP TABLE nominations;')
conn.execute('ALTER TABLE nominations_two RENAME TO nominations;')
results = conn.execute('SELECT * FROM nominations LIMIT 5;').fetchall()
for result in results:
    print(result)

(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful ', 'Uxbal', '0.0', 1)
(2, 'Actor -- Leading Role', 'Jeff Bridges', 'True Grit ', 'Rooster Cogburn', '0.0', 1)
(3, 'Actor -- Leading Role', 'Jesse Eisenberg', 'The Social Network ', 'Mark Zuckerberg', '0.0', 1)
(4, 'Actor -- Leading Role', 'Colin Firth', "The King's Speech ", 'King George VI', '1.0', 1)
(5, 'Actor -- Leading Role', 'James Franco', '127 Hours ', 'Aron Ralston', '0.0', 1)

# Creating a Join Table

In [9]:
movies_table = 'CREATE TABLE movies ( \
id INTEGER PRIMARY KEY, \
movie TEXT);'

actors_table = 'CREATE TABLE actors( \
id INTEGER PRIMARY KEY, \
actor TEXT);'

movies_actors = 'CREATE TABLE movies_actors ( \
id INTEGER PRIMARY KEY, \
movie_id INTEGER REFERENCES movies(id), \
actor_id INTEGER REFERENCES actors(id));'

'''
conn.execute(movies_table)
conn.execute(actors_table)
conn.execute(movies_actors)
'''
actors = conn.execute('SELECT * FROM movies_actors LIMIT 5;').fetchall()
print(actors)

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5)]

# Populating the movies and actors tables

In [7]:
insert_movies = "insert into movies (movie) select distinct movie from nominations;"
insert_actors = "insert into actors (actor) select distinct nominee from nominations;"
conn.execute(insert_movies)
conn.execute(insert_actors)

print(conn.execute("select * from movies limit 5;").fetchall())
print(conn.execute("select * from actors limit 5;").fetchall())

[(1, 'Biutiful '), (2, 'True Grit '), (3, 'The Social Network '), (4, "The King's Speech "), (5, '127 Hours ')]
[(1, 'Javier Bardem'), (2, 'Jeff Bridges'), (3, 'Jesse Eisenberg'), (4, 'Colin Firth'), (5, 'James Franco')]

# Populating a join table

In [8]:
pairs_query = "select movie,nominee from nominations;"
movie_actor_pairs = conn.execute(pairs_query).fetchall()

join_table_insert = "insert into movies_actors (movie_id, actor_id) values ((select id from movies where movie == ?),(select id from actors where actor == ?));"
conn.executemany(join_table_insert,movie_actor_pairs)

print(conn.execute("select * from movies_actors limit 5;").fetchall())

[(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5)]